/* @import url('https://mmwebfonts.comquas.com/fonts/?font=notosan'); */
/* @import url('https://mmwebfonts.comquas.com/fonts/?font=mymyanmar'); */

@import url('https://mmwebfonts.comquas.com/fonts/?font=zawgyi');

html,body,p,div,*,table
{
	font-family: 'Zawgyi-One';
}
.zawgyi {
    font-family:'Zawgyi-One';
}

.navbar-default{
    transition:500ms ease;
    background: transparent;
}
.navbar-default.scrolled{
    background-image: linear-gradient(90deg,forestgreen,goldenrod);      
}
.navbar img{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.dropdown-menu{
    position: static;
    width: 100%;
    box-shadow: none;
    background: inherit;
  }
.demoimg{
    height: 400px; 
    clip-path: ellipse(100% 55% at 48% 44%);
    filter: blur(3px);
}
#main-box {
    border-radius: 30px;
    height: 850px;
    margin: 120px;
    
  }
#main-box .col-lg-10 h3{
    color: rgba(19, 185, 121, 0.815);
    font-size: 30px;
    font-weight: bold;
}
#main-box h6{
    padding-top: 25px;
    font-size: 18px;
    color: #215483;
    font-family:'Zawgyi-One';
}
#main-box:hover #Oval-3-Copy-15{
    fill: goldenrod;
}
#main-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#info{
    border-radius: 30px;
    height: 850px;
    margin: 120px;
}
#info:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: goldenrod;
}

.tab{
    text-align: justify;
    text-justify: inter-word;
    text-indent: 70px;
    font-size: 16px;
    font-family:'Zawgyi-One';

}
.float_1{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 850px;
    width: 710px;
}
#register{
    margin-top: -400px;
    border-radius: 35px;
}
.footer{
    width: 100%;
    height: 250px;
    background-color: goldenrod;
}
#myTab{
    background-color: goldenrod;
}

table td{
    color: forestgreen;
}
table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    border-radius: 30px;
}
label {
    display: table-cell;
    width: 1px;
    white-space: nowrap
}
span {
    display: table-cell;
    padding: 0 0 0 5px
}
input {
    width: 100%
}
.ui-group-buttons .or.or-lg{height:1.3em;font-size:16px}
.ui-group-buttons .or.or-lg:after{height:2.85em}